<mat-table [dataSource]="dataSource" class="mat-elevation-z10">
  @for (column of tableColumns; track $index) {
  <ng-container [matColumnDef]="column.def">
    <mat-header-cell *matHeaderCellDef> {{ column.label }} </mat-header-cell>
    <mat-cell *matCellDef="let row">
        @if(column.def !== 'actions'){
        <ng-container>
          {{ row[column.dataKey] }} </ng-container
        >} @else{ @if(row[column.dataKey]){
        <ng-container>
          <button mat-icon-button color="primary" (click)="onEdit(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(row)">
            <mat-icon>delete</mat-icon>
          </button> </ng-container
        >} }

    </mat-cell>
  </ng-container>
  }

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
</mat-table>
