<mat-toolbar color="primary">
  <span class="effect-btn" [routerLink]="['']">{{ title | uppercase }}</span>
  <div class="spacer"></div>
  <div class="links">
    <button
      class="effect-btn"
      mat-raised-button
      [routerLink]="['']"
      color="primary"
    >
      Home
    </button>
    <button
      class="effect-btn"
      mat-raised-button
      [routerLink]="['listafuncionarios']"
      color="primary"
    >
      Listar Funcionários
    </button>
    <button
      class="effect-btn"
      mat-raised-button
      [routerLink]="['listaescalas']"
      color="primary"
    >
      Listar Escalas
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
